# Polygon Mainnet Contract Deployment
PRIVATE_KEY=YOUR_DEPLOYER_WALLET_PRIVATE_KEY
POLYGON_MAINNET_RPC=https://polygon-bor-rpc.publicnode.com
POLYGONSCAN_API_KEY=369HPXQ4RJP6AHAVJG7MVVB44QKQ5WD55M
STAKE_TOKEN_ADDRESS=0xa31b5A95268CAd709e6691Ec2F2F107A3F36D945
REWARD_TOKEN_ADDRESS=0xa31b5A95268CAd709e6691Ec2F2F107A3F36D945
